[submodule "external/gtest"]
	path = external/gtest
	url = git@github.com:google/googletest.git
[submodule "external/fake_clock"]
	path = external/fake_clock
	url = git@github.com:korfuri/fake_clock.git
