sudo: required
dist: trusty
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
      - cmake
      ## We need a system-wide libicu
      - libicu-dev
      ## We also depend on a system install of protobuf
      - libprotobuf-dev
      - protobuf-compiler
      ## Package list from http://bazel.io/docs/install.html
      - openjdk-7-jdk
      - openjdk-7-source
      - pkg-config
      - zip
      # - g++  # provided by g++-4.9
      - zlib1g-dev
      ## For integrations
      - libmicrohttpd-dev

# Eventually, Bazel will have binary packages and we'll be able to
# just download a prebuilt distribution of Bazel. For now, build it
# from source every time.
before_install:
  - wget 'https://github.com/bazelbuild/bazel/releases/download/0.1.0/bazel-0.1.0-installer-linux-x86_64.sh'
  - sha256sum -c tools/bazel-0.1.0-installer-linux-x86_64.sh.sha256
  - chmod +x bazel-0.1.0-installer-linux-x86_64.sh
  - ./bazel-0.1.0-installer-linux-x86_64.sh --user
  - cat ~/.bazelrc >> .bazelrc

script:
  - bazel test //prometheus/...
  - mkdir build/
  - pushd build
  - CC=gcc-4.9 CXX=g++-4.9 cmake ..
  - make -j3
  - prometheus/client_demo
  - popd
  - pushd integrations/gnu_libmicrohttpd
  - make
  - popd
